{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "all",
	"printWidth": 80,
	"endOfLine": "lf",
	"arrowParens": "always",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": [
				"src/manifest-chromium.json",
				"src/manifest-firefox.json",
				"src/lib/browser-polyfill.min.js"
			],
			"options": {
				"insertFinalNewline": false
			}
		}
	]
}
